@page
@model RazorUI.Pages.Orders.DisplayModel
@{
}

@if (Model.Order is null)
{
    <h4>The records is not exist</h4>
}
else
{
    

<table class="table">
    <tbody>
        <tr>
            <td>OrderName</td>
            <td>@Model.Order.OrderName</td>
        </tr>
        <tr>
            <td>Order Date</td>
            <td>@Model.Order.OrderDate</td>
        </tr>
        <tr>
            <td>Total</td>
                <td>@String.Format("{0:C}", Model.Order.Total)</td>
        </tr>
        <tr>
            <td>Item Ordered</td>
            <td>@Model.ItemPurchased</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>@Model.Order.Quantity</td>
        </tr>
        <tr>
            <td colspan="2"><a asp-page="./Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete Order</a></td>
        </tr>
    </tbody>
</table>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*Doing this so post can work with this value(UpdatedOrder.Id) and not forget about it*@
    <input asp-for="UpdatedOrder.Id" value="@Model.Order.Id" type="hidden" /> 

    
    <div class="form-group">
        <label asp-for="UpdatedOrder.OrderName" class="control-label"></label>
        <input asp-for="UpdatedOrder.OrderName" value="@Model.Order.OrderName" class="form-control" />
        <span asp-validation-for="UpdatedOrder" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update Order Name"/>    
    </div>

</form>
}
